<div id="terms-conditions" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    {{ 'TERMS_CONDITIONS.TITLE' | translate }}
  </div>
  <div id = "terms" class="content" >
    <h3 class = "title-terms">{{ 'TERMS_CONDITIONS.INTRODUCTION_TITLE' | translate }}</h3>    
    <p class = "text-terms">{{ 'TERMS_CONDITIONS.INTRODUCTION_TEXT' | translate }}</p>

    <h3 class = "title-terms">{{ 'TERMS_CONDITIONS.USER_CONTENT_TITLE' | translate }}</h3>    
    <p class = "text-terms">{{ 'TERMS_CONDITIONS.USER_CONTENT_TEXT' | translate }}</p>        
    
    <h3 class = "text-section-terms">{{ 'TERMS_CONDITIONS.USER_CONTENT_PART1_TITLE' | translate }}</h3>
    <p class = "text-terms">{{ 'TERMS_CONDITIONS.USER_CONTENT_PART1_TEXT' | translate }}</p>    

    <h3 class = "text-section-terms">{{ 'TERMS_CONDITIONS.USER_CONTENT_PART2_TITLE' | translate }}</h3>
    <p class = "text-terms">{{ 'TERMS_CONDITIONS.USER_CONTENT_PART2_TEXT' | translate }}</p>    
    
    <h3 class = "text-section-terms">{{ 'TERMS_CONDITIONS.USER_CONTENT_PART3_TITLE' | translate }}</h3>
    <p class = "text-terms">{{ 'TERMS_CONDITIONS.USER_CONTENT_PART3_TEXT' | translate }}</p>    
    
    <h3 class = "text-section-terms">{{ 'TERMS_CONDITIONS.USER_CONTENT_PART4_TITLE' | translate }}</h3>
    <p class = "text-terms">{{ 'TERMS_CONDITIONS.USER_CONTENT_PART4_TEXT' | translate }}</p>    
    
    <h3 class = "title-terms">{{ 'TERMS_CONDITIONS.RESPONSABILITY_TITLE' | translate }}</h3>    
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.RESPONSABILITY_PART1' | translate }}</li>    
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.RESPONSABILITY_PART2' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.RESPONSABILITY_PART3' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.RESPONSABILITY_PART4' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.RESPONSABILITY_PART5' | translate }}</li>

    <h3 class = "title-terms">{{ 'TERMS_CONDITIONS.PRIVACY_TITLE' | translate }}</h3>    
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.PRIVACY_PART1' | translate }}</li>    
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.PRIVACY_PART2' | translate }}</li>    

    <h3 class = "title-terms">{{ 'TERMS_CONDITIONS.SAFETY_TITLE' | translate }}</h3>    
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.SAFETY_PART1' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.SAFETY_PART2' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.SAFETY_PART3' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.SAFETY_PART4' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.SAFETY_PART5' | translate }}</li>    
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.SAFETY_PART6' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.SAFETY_PART7' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.SAFETY_PART8' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.SAFETY_PART9' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.SAFETY_PART10' | translate }}</li>
    <li class = "text-terms">{{ 'TERMS_CONDITIONS.SAFETY_PART11' | translate }}</li>    

  </div>
</div>
