<app-load-indication></app-load-indication>
<div class="ui container post-container">
  <div class="ui stacked segment">
    <div class="ui embed"></div>
    <div class="ui divided items">
      <div class="ui divided items">
        <div class="item">
          <div class="content">            
            <a class="header">{{ post.title }}</a>
            <div class="meta" *ngIf='user_title !== ""'>
              <span class="date">{{ post.music_name }}</span>
            </div>
            <div class="meta" *ngIf="post?.artist">
              <span class="date">{{ 'POST.ARTIST' | translate }}: {{ post.artist }}</span>
            </div>
            <div class="meta">
              <span class="date">{{ post.ownerUsername }}: {{ creationDate }}</span>
            </div>
            <div class="description">
              <p>{{ post.description }}</p>
            </div>
            <div class="description">
              <a class="ui label" *ngIf="post?.year">
                {{ post.year }}
              </a>
              <div class="ui labeled button" tabindex="0">
                <div class="ui red button" (click)="likePost()" [ngClass]="getLikeClass()">
                  <i class="heart icon"></i> {{ 'POST.LIKES' | translate }}
                </div>
                <a class="ui basic left pointing label" [ngClass]="getLikeBorderClass()">
                  {{ post.likes.length }}
                </a>
              </div>
            </div>
            <div class="extra">
              <div class="ui labels">
                <div class="ui basic label" *ngFor="let genre of post.genres">
                  <a class="ui empty circular label" [ngClass]="getClass(genre)"></a>
                  {{ genre }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
