.post-container {
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.header:hover{
  color: #647E7B !important;
}

.likes {
  margin-right: 30px !important;
}


.hip-margin {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.hip-ownerusername {
  color: #917260 !important;
  font-size: 110% !important;
  font-weight: bold !important;
}
