<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <style>
      .img {
        display: block;
        margin: auto;
      }
      .email-body {
        text-align: center ;
      }
    </style>
</head>
<body>
  <div class='email-body'>
    <img class='img' src="https://i.imgur.com/DTR2PbT.png">
    <p>
      Olá, {{nome}}, seu cadastro está quase completo. Para prosseguir clique no link a baixo:
    </p>
    <strong><a class='email-body' href="{{link}}">{{link}}</a></strong>
    <p>
      A equipe HipsterMusic agradece pela sua participação e deseja uma ótima experiência!
    </p>
  </div>
</body>
</html>
