<div id="create-post" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    {{ 'PUBLICATION.SHARE_MESSAGE' | translate }}
  </div>
  <div *ngIf="requestErrors.length != 0"class="ui container">
    <div class="ui icon compact error message">
      <i class="inbox icon"></i>
      <ul class="list">
        <li *ngFor="let error of requestErrors"> {{ error }}</li>
      </ul>
    </div>
  </div>

  <div class="content">
    <form id="post-form" class="ui form">
      <div class="two fields">
        <div class="field">
          <div class="ui left icon input">
            <i class="child icon"></i>
            <input type="text" name="title" [(ngModel)]="publication.title" attr.placeholder="{{ 'PUBLICATION.TITLE' | translate }}">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="child icon"></i>
            <input type="text" name="url" [(ngModel)]="publication.url" attr.placeholder="{{ 'PUBLICATION.URL' | translate }}">
          </div>
        </div>
      </div>

      <div class="field">
        <div class="ui sub header">{{ 'PUBLICATION.GENRES' | translate }}</div>
        <div id="genres_select" class="ui multiple selection dropdown">
          <input name="gender" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu">
            <div class="item" *ngFor="let genre of listGenres" attr.data-value="{{genre.value}}">
              <div class="ui empty circular label" [ngClass]="getClass(genre)"></div>
              {{ genre.name }}
            </div>
          </div>
       </div>
      </div>

      <div class="field">
        <div class="ui sub header">{{ 'PUBLICATION.DESCRIPTION' | translate }}</div>
        <div class="ui left icon input">
          <textarea name="description" [(ngModel)]="publication.description" rows="5" cols="30"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui button red deny">{{ 'GENERAL.CANCEL' | translate }}</div>
    <div class="ui button green" (click)="createPost()">{{'POST.SHARE' | translate }}</div>
  </div>
</div>
