<div class="ui divided items">
  <div class="item">
    <a class="ui small image" (click)="openPost()">
      <img [src]="event.thumbnail">
    </a>
    <div class="content">
      <a class="header" (click)="openPost()">{{ title }}</a>
      <div class="meta" *ngIf="title !== 'undefined'">
        <span class="date">{{ subtitle }}</span>
      </div>
      <div class="meta">
        <span class="date">{{ event.ownerUsername }}: {{ creationDate }}</span>
      </div>
      <div class="description">
        <p>{{ event.description }}</p>
      </div>
      <div class="extra">
        <div class="ui labels">
          <a class="ui circular label likes">
            <i class="heart icon"></i> {{ event.aproves.length }}  {{ 'POST.LIKES' | translate }}
          </a>
          <div class="ui tag label" [ngClass]="getClass(genre)" *ngFor="let genre of event.genres">{{ genre }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
