<div class="ui modal" id="delete-modal">
  <i class="close icon"></i>
  <div class="header">
    {{ 'DELETEMODAL.DELETE_ACCOUNT' | translate }}
  </div>
  <div class="image content">
    <div class="image">
      <img class="ui avatar image" src="./assets/images/negative.png">
    </div>
    <div class="description">
      {{ 'DELETEMODAL.DELETE_MESSAGE' | translate }}
    </div>
  </div>
  <div class="actions">
    <div class="ui button red deny">{{ 'DELETEMODAL.CANCEL' | translate }}</div>
    <div class="ui button green approve">OK</div>
  </div>
</div>
