<div class="ui container ">

  <div class="ui brown segment clearing">
    <p>{{ 'POST.MESSAGE' | translate }}</p>
    <div class="big ui button right floated" tabindex="0">
      <div class="visible content"><i class="plus icon"></i>{{ 'POST.SHARE' | translate}}</div>
    </div>
  </div>

  <div class="ui piled segment post-container">
    <div class="ui divided items">
      <div class="item" *ngFor="let event of events">
        <app-timeline-post [event]="event"></app-timeline-post>
      </div>
    </div>
  </div>
</div>
