<app-load-indication></app-load-indication>
<div class="ui container "
            infiniteScroll
            [infiniteScrollDistance]="1"
            (scrolled)="onScroll()">
  <div class="ui brown segment clearing">
    <app-create-post-home (search)="updateTimeline()"></app-create-post-home>
  </div>

  <div class="ui segment post-container">
    <div class="ui divided items">
      <div class="ui form">
        <div class="inline fields">
          <label>{{ 'HIPSTER.CLASS' | translate }}</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input  (click)="classifyBy(ORDER_BY_MOST_RECENT)" type="radio" name="frequency" checked="checked">
              <label>{{ 'HIPSTER.CLASS_M_RECENT' | translate }}</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input  (click)="classifyBy(ORDER_BY_LESS_RECENT)" type="radio" name="frequency">
              <label>{{ 'HIPSTER.CLASS_L_RECENT' | translate }}</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input (click)="classifyBy(ORDER_BY_MOST_POPULAR)" type="radio" name="frequency">
              <label>{{ 'HIPSTER.CLASS_M_POPULAR' | translate }}</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input (click)="classifyBy(ORDER_BY_LESS_POPULAR)" type="radio" name="frequency">
              <label>{{ 'HIPSTER.CLASS_L_POPULAR' | translate }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui divided items">
      <div id="labelTodos" (click)="clearFilter()" class="ui basic large label label-container"
           [ngClass]="isSelected(undefined)">
        <a class="ui empty circular label grey"></a>
        Todos
      </div>
      <div id="label{{i}}" (click)="filterEvents(genre)" class="ui basic large label label-container"
            *ngFor="let genre of listGenres;" [ngClass]="isSelected(genre)">
        <a class="ui empty circular large label" [ngClass]="getClass(genre.value)"></a>
        {{ genre.value }}
      </div>
    </div>
  </div>

  <div class="ui stacked segment post-container extra">
    <div class="ui labels">
      <div class="ui divided items">
        <div class="item" *ngFor="let event of shownEvents">
          <app-timeline-post class="hip-full-width" [event]="event"></app-timeline-post>
        </div>
      </div>
    </div>
  </div>
</div>
