<div class="ui top attached menu">
  <div class="ui container">
    <a href="/" class="header item">
      <img class="logo" src="assets/hipster-logo.png">
      Hipster
    </a>
    <div class="item">
      {{ 'HIPSTER.LANGUAGE' | translate }}:
      <div (click)="changeLanguage('pt')" class="item"><i class="br flag"></i>{{ 'HIPSTER.LANGUAGES.PT' | translate }}</div>
      <div (click)="changeLanguage('en')" class="item"><i class="us flag"></i>{{ 'HIPSTER.LANGUAGES.EN' | translate }}</div>
    </div>
    <div class="right menu" *ngIf="!userService.isAuthenticated()">
      <div class="ui form hipster-login-form">
        <div class="fields">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" [(ngModel)]="username" attr.placeholder="{{ 'REGISTER.USERNAME' | translate }}">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" [(ngModel)]="password" attr.placeholder="{{ 'REGISTER.PASSWORD' | translate }}">
            </div>
          </div>
          <div class="ui fluid blue submit button" (click)="loginUser(username, password)">{{ 'HIPSTER.LOGIN' | translate }}</div>
        </div>
      </div>
    </div>

    <div class="right menu " *ngIf="userService.isAuthenticated()">
      <a (click)="change()" class="item">
        <img class="ui avatar image" src="./assets/elliot.jpg">
        <span>{{ getName() }}</span>
        <div class="ui simple dropdown item">
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" (click)="deleteModal.deleteUser($event)">{{ 'DELETEMODAL.DELETE_ACCOUNT' | translate }}</div>
          </div>
        </div>
      </a>
      <a href="/" class="item">{{ 'HIPSTER.LOGIN' | translate }}</a>
      <a class="item">
        <div (click)="logoutUser()">
          {{ 'HIPSTER.LOGOUT' | translate }}
        </div>
      </a>
    </div>

  </div>
</div>

<app-delete-modal view-model.ref="deleteModal"> </app-delete-modal>
<router-outlet></router-outlet>
