.labeled {
  color: white !important;
}

.item {
  color: #DED3D2 !important;
}

.hip-search-icon {
  color: white
}

.field {
  width: 100% !important;
  padding-bottom: 4px !important;
}

.fields {
  margin: 0px !important;
}

.menu {
  background-color: #3D3F4C;
  border-radius: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
  .hipster-login-form {
    margin-top: 2.5%;
  }
}

@-moz-document url-prefix() {
  .hipster-login-form {
    margin-top: 20.5%;
  }
}
