.hipster-profile-container {
  margin-top: 1%;
}

.hipster-profile-form {
  padding: 5%;
}

.hip-full-width {
  min-width: 100% !important;
}

.dropdown {
  margin: 8px;
}

.hipster-select {
  padding-left: 34px !important;
  font-size: 12px;
}
