<div class="ui container hipster-profile-container">
  <div class="ui floating negative message" *ngIf="!foundUser">
    <p>{{ 'PROFILEPAGE.PROFILE_NOT_FOUND' | translate }}</p>
  </div>
  <div class="ui stackable grid" *ngIf="foundUser">
    <div class="five wide column">
      <div class="ui card centered">
        <a class="image">
          <img src="../assets/cogumelo-daltonico.svg">
        </a>
        <div class="content">
          <div class="header">{{ profile.name }}'s {{ 'PROFILEPAGE.PROFILE' | translate }}</div>
          <div class="meta">{{ events.length }} {{ 'PROFILEPAGE.POSTS' | translate }}</div>
          <div class="description">
            <div class="ui list">
              <div class="item" *ngIf="profile.youtubeURL" >
                <i class="red large youtube play icon"></i>
                <div class="content">
                  /{{ profile.youtubeURL }}
                </div>
              </div>
              <div class="item" *ngIf="profile.spotifyURL">
                <i class="green large spotify icon"></i>
                <div class="content">
                  /{{ profile.spotifyURL }}
                </div>
              </div>
              <!-- THIS SECTION WILL BE AVAILABLE SOON, WAITING FOR THE NEXT US -->
              <!-- <div class="item">
                <i class="orange large sound icon"></i>
                <div class="content">
                  {{ 'PROFILEPAGE.GENREFAVORITES' | translate }}: <a>Pop</a>, <a>Rock</a>, <a>Folk</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="eleven wide column">
      <div class="ui pointing menu">
        <a class="item" [ngClass]="{'active': selected_tab === 0}" (click)="selected_tab = 0">
          {{ 'PROFILEPAGE.TIMELINE' | translate }}
        </a>
        <a class="item" [ngClass]="{'active': selected_tab === 1}" (click)="selected_tab = 1">
          {{ 'PROFILEPAGE.ABOUT' | translate }}
        </a>
      </div>
      <div class="ui segment">
        <div *ngIf="selected_tab === 0" >
          <div class="ui divided items">
            <div class="item" *ngFor="let event of events">
              <app-timeline-post class="hip-full-width" [event]="event"></app-timeline-post>
            </div>
          </div>
        </div>
        <div *ngIf="this.selected_tab === 1">
          <form class="ui form hipster-profile-form">
            <h4 class="ui horizontal divider header">
              <i class="child icon"></i>
              {{ 'REGISTER.PERSONAL' | translate }}
            </h4>
            <div class="field" [ngClass]="{'disabled': !isMyProfile}">
              <div class="ui left icon input">
                <i class="child icon"></i>
                <input type="text" name="name" [(ngModel)]="name" attr.placeholder="{{ 'REGISTER.NAME' | translate }}">
              </div>
            </div>
            <div class="field" [ngClass]="{'disabled': !isMyProfile}">
              <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="text" name="email" [(ngModel)]="email" attr.placeholder="{{ 'REGISTER.EMAIL' | translate }}">
              </div>
            </div>
            <div class="two fields">
              <div class="field" [ngClass]="{'disabled': !isMyProfile}">
                <div class="ui left icon input">
                  <i class="red youtube play icon"></i>
                  <input type="text" name="youtube" [(ngModel)]="youtubeURL" placeholder="YouTube">
                </div>
              </div>
              <div class="field" [ngClass]="{'disabled': !isMyProfile}">
                <div class="ui left icon input">
                  <i class="green spotify icon"></i>
                  <input type="text" name="spotify" [(ngModel)]="spotifyURL" placeholder="Spotify">
                </div>
              </div>
            </div>
            <div class="field" [ngClass]="{'disabled': !isMyProfile}">
              <div class="three fields">
                <div id="day" class="ui fluid compact search selection dropdown">
                  <input type="hidden" name="day">
                  <i class="dropdown icon"></i>
                  <div class="default text">{{ 'REGISTER.DAY' | translate }}</div>
                  <div class="menu">
                    <div *ngFor="let day of days" class="item" attr.data-value="day + 1">{{ day +1}}</div>
                  </div>
                </div>
                <div id="month" class="ui fluid compact search selection dropdown">
                  <input type="hidden" name="month">
                  <i class="dropdown icon"></i>
                  <div class="default text">{{ 'REGISTER.MONTH' | translate }}</div>
                  <div class="menu">
                    <div *ngFor="let month of months" class="item" attr.data-value="month + 1">{{ month +1}}</div>
                  </div>
                </div>
                <div id="year" class="ui fluid compact search selection dropdown">
                  <input type="hidden" name="year">
                  <i class="dropdown icon"></i>
                  <div class="default text">{{ 'REGISTER.YEAR' | translate }}</div>
                  <div class="menu">
                    <div *ngFor="let year of years" class="item" attr.data-value="year +1">{{ year }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isMyProfile" class="ui fluid large blue submit button" (click)="updateProfile()">{{ 'REGISTER.UPDATE' | translate }}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
