/* You can add global styles to this file, and also import other style files */
.button {
  background-color: #917260 !important;
}

.button:hover {
  background-color: #7C5A50 !important;
}

body {
  background-color: #DED3D2;
}


input:focus {
  border-color: #7C5A50 !important;
  background: #FFF;
  color: rgba(0,0,0,.8);
  box-shadow: none;
}

.liked-btn {
  background-color: #DB2828 !important;
  color: white !important;
}

.liked-comment {
  color: #DB2828 !important;
}

.unliked-comment {
  color: rgba(0,0,0,.4) !important;
}

.liked-btn:hover {
  background-color: #a70e0e !important;
}

.unliked-btn {
  background-color: #E8E8E8 !important;
  color: rgba(0,0,0,.6) !important;
}

.unliked-btn:hover {
  background-color: #b7b7b7 !important;
}
