.post-container {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.label-container {
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important;
}

.hip-full-width {
  min-width: 100% !important;
}
