<div class="hipster-bg-image">
</div>

<div class="ui container hipster-register-container">
  <div class="ui grid">
    <div class="ten wide column">
      <img class="ui centered small image" src="../assets/hipster-logo.png">
      <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        {{ 'REGISTER.INVITE' | translate }}
      </h2>
    </div>
    <div class="six wide column">
      <div class="ui centered card">
        <div class="content">
          <div class="right floated meta">Hispter</div>
          <img class="ui avatar image" src="../assets/hipster-logo.png">
        </div>
        <form class="ui form hipster-register-form">
          <h4 class="ui horizontal divider header">
            <i class="child icon"></i>
            {{ 'REGISTER.PERSONAL' | translate }}
          </h4>
          <div class="field">
            <div class="ui left icon input">
              <i class="child icon"></i>
              <input type="text" name="name" [(ngModel)]="user.name" attr.placeholder="{{ 'REGISTER.NAME' | translate }}">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <input type="text" name="email" [(ngModel)]="user.email" attr.placeholder="{{ 'REGISTER.EMAIL' | translate }}">
            </div>
          </div>
          <p class="ui label basic">
            <i class="calendar icon"></i> <b> {{ 'REGISTER.BIRTHDATE' | translate }} </b>
          </p>
          <div class="three fields">
            <div class="seven wide field">
              <select class="select-style hipster-font-select" [(ngModel)]="day" name="day">
                <option selected> {{ 'REGISTER.DAY' | translate }} </option>
                <option *ngFor="let day of days" value="{{day + 1}}">{{ day + 1 }}</option>
              </select>
            </div>
            <div class="eight wide field">
              <select class="hipster-font-select" [(ngModel)]="month" name="month">
                <option selected> {{ 'REGISTER.MONTH' | translate }} </option>
                <option *ngFor="let month of months" value="{{month + 1}}">{{ month + 1 }}</option>
              </select>
            </div>
            <div class="seven wide field">
              <select class="hipster-font-select" [(ngModel)]="year" name="year">
                <option selected> {{ 'REGISTER.YEAR' | translate }} </option>
                <option *ngFor="let year of years" value="{{year + 1}}">{{ year + 1 }}</option>
              </select>
            </div>
          </div>
          <h4 class="ui horizontal divider header">
            <i class="user icon"></i>
            {{ 'REGISTER.USER' | translate }}
          </h4>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" [(ngModel)]="user.username" attr.placeholder="{{ 'REGISTER.USERNAME' | translate }}">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" [(ngModel)]="user.password" attr.placeholder="{{ 'REGISTER.PASSWORD' | translate }}">
            </div>
          </div>
          <div class="ui fluid large blue submit button" (click)="registerUser(user)">{{ 'REGISTER.SUBMIT' | translate }}</div>
        </form>
      </div>
    </div>
  </div>
</div>
