.hipster-register-container {
  margin-top: 1%;
}

.dropdown {
  margin-top: 2%;
}

.hipster-register-form {
  padding: 10%;
  padding-bottom: 30px !important;
}

.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #917260 !important;
}

.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
  background-color: #917260 !important;
}

.hipster-font-select {
  font-size: 12px;
}

.hit-segment {
  margin-bottom: 0px !important;
}

.form-width {
  width: 55% !important;
}

.card {
  width: 100% !important;
}

.logo_info {
  width: 40px;
  height: auto;
}

.field {
  width: 100% !important;
  padding-bottom: 4px !important;
}