<div class="ui container" id="register-form" style="width:500px; margin-top:15%;">
  <div class="ui equal width form">
    <div class="fields">
      <div class="field">
        <label><i class="quote left icon"></i>Nome</label>
        <input placeholder="Digite seu nome" type="text">
      </div>
      <div class="field required">
        <label><i class="at icon"></i>E-mail</label>
        <input placeholder="Digite seu e-mail" type="email">
      </div>
    </div>
    <div class="fields">
      <div class="field">
        <label><i class="calendar icon"></i>Data de nascimento</label>
        <input placeholder="Digite sua data de nascimento" type="text">
      </div>
    </div>
    <div class="fields required">
      <div class="field">
        <label><i class="user icon"></i>Username</label>
        <input placeholder="Digite o seu nome de usuário" type="text">
      </div>
      <div class="field required">
        <label><i class="asterisk icon"></i>Senha</label>
        <input #password
               type="password"
               placeholder="Digite sua senha"
               (mouseover)="showPwdTip()"
               (mouseleave)="hidePwdTip()">
        <div class="ui pointing label" *ngIf="passwordIsFocused" >
          Senha deve ter pelo menos 8 caracteres
        </div>
      </div>
    </div>
    <div class="ui buttons">
      <button class="ui button"><i class="ban icon"></i>Cancel</button>
      <div class="or"></div>
      <button class="ui positive button"><i class="add user icon"></i>Register</button>
    </div>
  </div>
</div>
