body {
  background-image: url("/assets/images/front-page.png");;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 110%;

}

.hipster-register-container {
  margin-top: 1%;
}

.hipster-register-form {
  padding: 5%;
}

.hipster-font-select {
  font-size: 12px;
}

.form-width {
  width: 55% !important;
}
